.content {
    display: grid;
    grid-template-columns: 4fr 10fr;
    padding: 0.5em;

}

.dialogList {
 /*   color: white;
    text-decoration: none;
*/
    min-width: 200px;
}

.dialogList a{
    color: white;
    text-decoration: none;
    vertical-align: 50%;

  }
.dialogList a.dialogListActive {
    color: gold;
    text-decoration: none;

}
.dialog {
    padding: 10px;
}
.dialog img{
    width: 40px;
    height: 40px;
}

.activeDialog {
    /*color: greenyellow;*/
}

.messageList {
    color: white;
}

.message {
    padding: 0.3em;
}